.plusIcon {
  position: absolute !important;
  margin-left: 48rem !important;
  margin-top: 0.5rem !important;
}
.crossIcon {
  position: absolute !important;
  margin-left: 50rem !important;
  margin-top: 0.5rem !important;
}
.plusIconInitial {
  margin-left: 1rem !important;
}
.fieldDropdown {
  width: 15% !important;
  height: 1rem;
}
.operationDropdown {
  width: 15% !important;
  height: 1rem;
}
.valueDropdown {
  width: 50% !important;
  height: 1rem;
}
.ui.form > p {
  margin-top: 0 !important ;
}

.condition {
  border-radius: 50%;
  background-color: #1474a4;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  line-height: 2.5rem;
  text-align: center;
  margin-right: 1rem !important;
}

.rulesetForm {
  display: contents;
}
